.login{
    background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    color: #f8b500;
}
input{
    background-color:#fceabb ;
    border: none;
}
.center{
    min-height: 100vh;
}

.loginCard {
    height: 35rem;
    width: 25rem;
}
/* @media only screen and (max-width: 375px) {
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  } */